
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";





/* Resetting default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


/* Setting default font and background color */
body {
    font-family:'Poppins', sans-serif;
    background-color: #f0f0f0;
}

/* Header styles */
header {
    background-color: #33353d;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    height: 50px; /* Adjust height as needed */
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline-block;
    margin-left: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

/* Container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Home section styles */
.home nav ul {
    display: flex;
    list-style-type: none;
}

.home nav ul li {
    margin-right: 20px;
}

.home nav ul li a {
  background-color:#33353d
  color;
    text-decoration: none;
}

/* Features section styles */
.features {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.features h2 {
    color: #333;
}

.features ul {
    list-style-type: disc;
    margin-left: 20px;
}

.features ul li {
    margin-bottom: 10px;
}


/* Aside styles */
aside {
    background-color: #ccc;
    padding: 20px;
    margin-top: 20px;
}

aside h3 {
    color: #333;
}

aside ul {
    list-style-type: none;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    color: #333;
    text-decoration: none;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer  a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}

